<% if @suggestions.any? %>
  <% @suggestions.each do |suggestion| %>
    <h2> <%= suggestion.overview %> </h2>
    <h3> <%= suggestion.description %> </h3>
  <% end %>
<% else %>
  No suggestions to display at the moment.
<% end %>

<a href='#'>Suggest an improvement</a>